* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
  color: #626262;
}

.nav {
  margin: 0 auto !important;
  min-height: 100px;
}

.nav-list {
  list-style-type: none;
  text-align: right;
}
.nav-list li {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  text-transform: uppercase;
  padding-right: 5rem;
  font-size: 1rem;
}
.nav-list li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.nav-list li a:hover {
  color: #626262;
  text-decoration: underline;
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.nav-list li:last-child {
  padding-right: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  margin-top: 30px !important;
}
.main img {
  width: 100%;
  margin-bottom: 90px;
}
.main .main-subtitle {
  margin-bottom: 25px;
}
.main .main-title {
  font-size: 1.5rem;
  margin-bottom: 35px;
}
.main .main-text {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-bottom: 75px;
}
.main .main-btn {
  display: inline-block;
  text-decoration: none;
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.main .main-btn:hover {
  text-decoration: underline;
  color: #626262;
}

.category a {
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-decoration: none;
}
.category a:hover {
  text-decoration: underline;
  color: #626262;
}

.img-responsive {
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.img-responsive img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.next {
  margin-top: 90px !important;
  margin-bottom: 130px !important;
}
.next .post h4 {
  margin: 30px 0;
}
.next .post h2 {
  margin-bottom: 30px;
}
.next .post p {
  margin-bottom: 50px;
}

.newsletter {
  height: 280px;
  background: #f0f0f0;
  padding-top: 70px;
}
.newsletter .sign {
  color: #626262;
  font-size: 30px;
  text-align: center;
  margin-bottom: 70px;
}
.newsletter form {
  width: 400px;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  padding-bottom: 6px;
}
.newsletter form input {
  border: none;
  background: inherit;
}
.newsletter form button {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

.load-btn {
  display: block;
  width: 165px;
  height: 60px;
  border: 1px solid #626262;
  font-size: 1.2rem;
  color: #626262;
  margin: -90px auto 0 auto;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
}

.recom {
  background-color: #f0f0f0;
  height: 435px;
  margin-top: 50px;
}
.recom .recom-title {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  padding: 70px 0 40px 0;
}
.recom .recom-img {
  width: 275px;
  height: 180px;
  margin-bottom: 25px;
}
.recom .recom-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  margin-top: 70px;
  margin-bottom: 100px;
}
.reviews .reviews-count {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
}
.reviews .review {
  margin-top: 50px;
}
.reviews .review .review-img {
  margin-top: 10px;
}
.reviews .review .review-author {
  color: #626262;
  font-weight: 700;
}
.reviews .review .review-text {
  color: #626262;
  line-height: 1.714;
  margin-top: 20px;
}
.reviews .review .reply-btn {
  display: inline-block;
  color: #b4ad9e;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin-top: 25px;
}
.reviews .review .reply-btn:hover {
  text-decoration: underline;
}
.reviews .review-input {
  margin-top: 50px;
}
.reviews .review-input #review-input {
  resize: none;
  height: 70px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}
.reviews .review-input #review-input::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #b4ad9e;
  padding: 15px 0 20px 20px;
}
.reviews .review-input #review-input::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #b4ad9e;
  padding: 15px 0 20px 20px;
}
.reviews .review-input #review-input:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #b4ad9e;
  padding: 15px 0 20px 20px;
}
.reviews .review-input #review-input::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #b4ad9e;
  padding: 15px 0 20px 20px;
}
.reviews .review-input #review-input::placeholder {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #b4ad9e;
  padding: 15px 0 20px 20px;
}
.reviews .review-input .connected {
  text-align: right;
  margin-top: 40px;
}
.reviews .review-input .connected span {
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  font-weight: 300;
}
.reviews .review-input .connected a {
  padding-left: 25px;
}
.reviews .review-input .connected a:last-child {
  padding-left: 10px;
}

footer {
  height: 100px;
  background-color: #f0f0f0;
}
footer a, footer span {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .left-side a {
  margin-right: 20px;
}
footer .left-side a:last-child {
  margin-right: 0;
}
footer .right-side {
  text-align: right;
}
footer .right-side span {
  margin-right: 25px;
}
footer .right-side a {
  margin-right: 20px;
}
footer .right-side a:last-child {
  margin-right: 0;
}

footer > .container {
  height: 100%;
}
footer > .container > .row {
  height: 100%;
}